
@{
    ViewBag.Title = "Welcome Admin!!";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
</head>
<body>

    <h2>Welcome!!!</h2>

    <video autoplay="autoplay">
        <source src="~/Content/Images/intro.mp4" type="video/mp4" />
        <strong>Your browser is ot compatible to play this video</strong>
    </video>

</body>
</html>

